<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="card-background-page">

  <ion-card>
    <img src="assets/hipertextual-ver-avengers-endgame-4k-2019810743.jpeg"/>
    <div class="card-title">Avengers End-Game</div>
    <div class="card-subtitle">4:00 P.M. - 7:00 P.M.</div>
</ion-card>

</div>
<ion-item class="ion-margin-horizontal" >
  <ion-label color="medium"  style="font-size: x-large;">No. de tickets</ion-label>
  <ion-select [selectedText]="cantidad" disabled>
    <ion-select-option value="1">{{cantidad}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-text color="danger" class="ion-margin-start">
  <h1>Detalles de la orden:</h1>
</ion-text>

<ion-list  lines="none">
  <ion-item  *ngFor="let item of data" [ngClass]="item.style" style="font-size: x-large; font-weight: 200;">
    <ion-label color="medium" >
      {{item.pedido.name}}
    </ion-label>
    <div item-content style="color: #f1453d;" >
      $ {{item.pedido.price * item.cantidad}}
    </div>
  </ion-item>
</ion-list>


<ion-text color="danger" class="ion-text-center" >
  <h1 style="font-size: xx-large;">${{total}} DOP.</h1>
</ion-text>
<ion-button expand="block" color="danger" class="ion-margin-horizontal ion-margin-bottom" (click)="cancelarTickets()">
  Cancelar tickets
</ion-button>